@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/static/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/static/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    line-height: normal;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    padding: 20px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 12px;
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 24px;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
}

.title-avatar {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.avatar {
    border-radius: 50%;
    width: 88px;
    height: 88px;
    margin-bottom: 16px;
}

.title-avatar h1 {
    font-size: 26px;
    font-weight: 600;
    color: white;
    margin-bottom: 4px;
}

.title-avatar h2 {
    font-size: 14px;
    font-weight: 700;
    color: hsl(75, 94%, 57%);
    margin-bottom: 16px;
}

.title-avatar h3 {
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.social-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.link-card {
    width: 100%;
    background-color: hsl(0, 0%, 20%);
    border-radius: 8px;
    padding: 12px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
}

.link-card:hover {
    background-color: hsl(75, 94%, 57%);
}

.link-card:hover a {
    color: hsl(0, 0%, 12%);
}

.card a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 14px;
    display: block;
    text-align: center;
}

footer {
    display: none;
}